<div id="<%= dom_id product %>">

  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
  </div>
  
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style= "border-top: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)">Preço: R$<%= number_with_precision(product.price, precision: 2) %></li>
    <li class="list-group-item" style= "border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)">Status: 
      <% if product.status == 'active' %>
        <span class="text-success border rounded border-success px-2 bg-success-subtle">Ativo</span>
      <% else %>
        <span class="text-danger border rounded border-danger px-2 bg-danger-subtle">Inativo</span>
      <% end %>
    </li>
  </ul>
</div>
