html, body, .container-fluid {
    height: 100%;
    width: 100%;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .row {
    height: 100%;
    margin: 0;
  }
  
  #sidebar{
    height: 100%;
    width: 22%;
  } 
  
  #content {
    width: 78%;
    margin-left: 22%;
  }
  
  main {
    margin: 1%;
  }
  
  #logo {
    width: 3rem;
    height: 3rem;
  }